# Add this part to the http directive in your nginx.conf
http{
    log_format postdata escape=none $request_body;
}

# ----------

# Add this in your nginx configuration file, replace <host> with your relevant data
server {

    # [...]

    location / {
        # Some magic to get around nginx not supporting multiple ifs
        set $test root;
        if ($request_method = POST) {
            set $test "${test}-post";
        }
        if ( $request_uri = /setup) {
            set $test "${test}-setup";
        }

        if ($test = root-post-setup) {
            # Feel free to rename the file name as needed
            access_log /var/log/nginx/foundry_setup_calls.log postdata;
        }

        # Rest of the config where you pass the request to Foundry
    }
}