# Add this part to the http directive in your nginx.conf
http{
    log_format postdata escape=json $request_body;
}

# Use this as your nginx configuration file, replace <host> with your relevant data
server {
    server_name             <host>>;
    listen                  80;
    # Sets the Max Upload size to 300 MB
    client_max_body_size 300M;

    location / {
        # Some magic to get around nginx not supporting multiple ifs
        set $test root;
        if ($request_method = POST) {
            set $test "${test}-post";
        }
        if ( $request_uri = /setup) {
            set $test "${test}-setup";
        }

        if ($test = root-post-setup) {
            # Feel free to rename the file name as needed
            access_log /var/log/nginx/foundry_setup_calls.log postdata;
        }

        # Same headers as for normal Foundry
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";

        # By passing the request to a proxy, nginx populates the $request_body variable, otherwise it would be empty
        proxy_pass http://localhost:30000;
    }
}